@import './common';
@import './example';


.photo-card {
    flex-basis: calc((100% - 60px) / 4);
    border: 5px solid black;
    border-radius: 20px;
    padding: 8px;
  }

  a:link {
    text-decoration: none;
  }

 
  .gallery {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    list-style: none;
  }
  
  img {
    display: block;
    max-width: 100%;
    height: 300px;
    transition: scale 250ms ease;
  }

  img:hover {
    scale: 1.03;
  }
  
  .info-item {
    color: black;
    text-decoration: none;
    font-family: monospace;
  }
  
  input {
    border: 2px solid black;
    border-radius: 15px;
    margin-top: 20px;
    margin-left: 40px;
    width: 203px;
    padding: 5px;
  }

  button {
    padding: 4px;
    margin-left: 10px;
    background-color: white;
    border: 2px solid black;
    border-radius: 15px;
    height: 33px;
    width: 100px;
    color: black;
    font-weight: 700;
  }
  
  .load-more {
    display: block;
    margin: 0 auto;
  }

  button:focus,
  button:hover {
    border: 2px solid black;
    cursor: pointer;
  }